*{
    margin: 0;
    padding: 0;
}
.start{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg{
    width: 100%;
    height: 100%;
    padding:0px
}
.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    overflow: hidden;
    height: 100vh;
    padding:top;
}
.logo img{
    width: 100px;
    cursor: pointer;
    align-items: left;
    padding: 0px;
}
.menu-icons {
    flex: 1;
    align-items: left;
    text-align: right;
}
.menu-icons a{
    float: left;
    height: 100vh;
    text-align: top;
    padding: 0px;
    line-height: 50px;
    width: 20px;
    margin-left: 70px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.content{
    width: 50%;
    margin: 0px auto;
    text-align:center;
    align-content: left;
    color: white;
    justify-content: left;
}
.content h1{
    font-size: 60px;
}
.content p{
    width: 80%;
    margin: 30px auto 100px;
    font-weight: bold;
    line-height: 25px;
    align-content: left;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: #fff;
    color: black;
    cursor: pointer;
    transition:  0.5s;
}
button:hover{
    background: transparent ;
    border: 2px solid #fff;
}
.home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 20px;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 0px;
    text-align: center;
    align-content: left;
    margin-top: 5%;
}
img{
    width: 10%;
    padding-inline: 70px;
    align-items: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 15, 15);
    line-height: 30px;
    padding-right: 100px;
}
.row p{
    line-height: 30px;
    text-align: center;
    margin-top: 5%;
    padding-right: 100px;
}
#img1{
    width: 45%;
    padding-top: 30px;
}
#img2{
    width: 70%;
    padding-top: 30px;
}
#img3{
    width: 60%;
    padding-top: 10px;
}
.about-col2{
    padding-right: 100px;
}
.about-col3{
    padding-right: 10px;
}

.about-col2 button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: rgb(10, 10, 10);
    color: rgb(247, 241, 241);
    cursor: pointer;
    transition:  0.5s;
    padding-right: 10px;
}
.about-col2 button:hover{
    background:rgb(141, 141, 131) ;
    border: 2px solid rgb(19, 18, 18);
}
.about-col1 button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: rgb(10, 10, 10);
    color: rgb(247, 241, 241);
    cursor: pointer;
    transition: 0.5s;
}
.about-col1 button:hover{
    background:rgb(141, 141, 131) ;
    border: 2px solid rgb(19, 18, 18);
}
.about-col3 button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: rgb(10, 10, 10);
    color: rgb(247, 241, 241);
    cursor: pointer;
    transition:  0.5s;

}
.about-col3 button:hover{
    background:rgb(141, 141, 131) ;
    border: 2px solid rgb(19, 18, 18);
}
/**project**/
.project{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    float: left;
    padding: 0 8px;
}
.co{
    text-align: center;
}
#i1{
    width: 90%;
    padding-left: 10px;
    margin-bottom: 16px;
}
#i2{
    width: 80%;
    padding-left: 20px;
    margin-bottom: 16px;
}
#i3{
    width: 90%;
    padding-left: 20px;
    margin-bottom: 16px;
}
#i4{
    width: 75%;
    padding-left: 20px;
    margin-bottom: 16px;
}
.pro{
    text-align: center;
    flex: 1;
    font-size: 40px;
    line-height: 130px;
    top: 100;
    color: crimson;
}
.project button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: rgb(247, 89, 89);
    color: rgb(17, 17, 17);
    cursor: pointer;
    transition:  0.5s;
    padding-right: 10px;
}
.project button:hover{
    background:transparent ;
    border: 2px solid rgb(238, 103, 103);
}
/**Pricing**/
.head{
    font-size: 50px;
    text-align: center; 
    line-height: 180px;
}
.pric{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    float: left;
    padding: 0 8px;
    font-size: 20px;
    font-style: italic;
    
}
#len1{
    width: 80%;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 16px;
    background: black;
}
#len1:hover{
    background: transparent;
}
.pric button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:30px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(160, 155, 155);
    background: rgb(78, 76, 76);
    color: rgb(243, 239, 239);
    cursor: pointer;
    transition: 0.5s;
    padding-right: 10px;
}
.pric button:hover{
    background:black ;
    border: 2px solid rgb(10, 10, 10);
    color: rgb(250, 242, 242);
}
.c{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}
.youtube{
    line-height: 40px;
    justify-content: space-between;
    cursor: pointer;
}
.youtube:hover{
    background: black;

}
/** team **/
.ti{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: rgb(12, 12, 12);
    padding-bottom: 20px;
    padding-top: 30px;
}
.team_mem p{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    align-content: center;
}
.team_mem img{
    line-height: 20px;
    width: 30%;
    clip-path: circle();
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    line-height: 30px;
    margin-bottom: 60px;
}
.team_mem:hover img{
    transform: scale(1.2);
}
.team_mem h3 {
    justify-content: space-between;
    text-align: left;
    padding-left: 180px;
    font-size: 30px;
    font-style: italic;
}
.team_mem h2{
    padding-left: 740px;
    font-size: 30px;
    padding-bottom: 40px;
    font-style: italic;
}
/* NewsLetter */
.Newsletter{
    width: 100%;
    margin: auto;
    text-align: center;
}

.news{
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url('camer-lens-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    color: white;
}
.news h3{
    font-size: 36px;
    font-weight: 600;
    margin: 40px auto;

}

.email-box{
    height: 40px;
    display: flex;
    justify-content: center;
}
.email-box i{
    background: black;
    width: 40px;
    line-height: 40px;
}
.news .box1,.box2{
    border: none;
    outline: none;
}
.box1{
    width: 0px;
    transition: 0.5s;
}
.email-box:hover > .box1,.box1:focus{
    width: 260px;
    padding: 0 10px;
}

.box2{
    background: black;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
}
/** review**/
.card{
    padding-top: 80px;
    font-size:  1.6rem;
    border-radius: 30px;
    color: black;
    background-color: black;
    width: 100%;
    height: 40vh;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2 px rgba(0,0,0,0.5);
}
.image-data{
    line-height: 50px;
    height: 35cm;
    position: relative;
    z-index: 1;
    padding-left: 240px;
}
.background-image{
    line-height: 40px;
    width: 180px;
    height: 70%;
    position: absolute;
    align-items:center;
    top: 0;
    background: url('review1.jpg') center;
    background-size: cover;
    z-index: -1;
}
.card:hover{
    color: rgba(0,0,0,0.7);
}
.card:hover .background-image{
    transform: scale(1.5);
    color: rgba(22, 22, 22, 0.945);
}
.info{
    padding-left: 340px;
    font-size: 20px;
    font-style: italic;
    color: rgb(14, 13, 13);
    text-align: left;
}
.description{
    line-height: 30px;
    font-size: 20px;
    color:rgb(27, 26, 26);
    font-style: italic;
    align-items: center;
    padding-left: 240px;
}
.background-image2{
    width: 180px;
    height: 80%;
    position: absolute;
    align-items:center;
    top: 0;
    background: url('review2.jpg') center;
    background-size: cover;
    z-index: -1;
}
.card:hover .background-image2{
    transform: scale(1.5);
    color: rgba(22, 22, 22, 0.945);
}
.background-image3{
    width: 180px;
    height: 80%;
    position: absolute;
    align-items:center;
    top: 0;
    background: url('review3.jpg') center;
    background-size: cover;
    z-index: -1;
}
.card:hover .background-image3{
    transform: scale(1.5);
    color: rgba(22, 22, 22, 0.945);
}
.background-image4{
    width: 180px;
    height: 80%;
    position: absolute;
    align-items:center;
    top: 0;
    background: url('review\ 4.jpg') center;
    background-size: cover;
    z-index: -1;
}
.card:hover .background-image4{
    transform: scale(1.5);
    color: rgba(22, 22, 22, 0.945);
}
/**Contact**/
.map1{
    background-image: url(camer-lens-bg.jp);
    width: 100%;
    height: 100vh;
    align-items: center;
}
.contact{
    width: 100%;
    height: auto;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 450px;
    text-align: center;

}
.contact .map{
    width: 100%;
    height: auto;
    flex: 50%;  
}
.contact .map iframe{
    width: 100%;
    height: 100%;  
}

.contact .form1{
    line-height: 40px;
    width: 100%;
    height: auto;
    flex: 50%;
    background: wheat;
}
.contact .form1 h2{
    margin-top: 10px;
    margin-left: 30px;
    line-height: 60px;
}
.txt{
    width: 60%;
    height: 40px;
    color: white;
    border: 0px solid #fcfafa;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 25px;
    margin: 2%;
    background: rgb(10, 10, 10);
    font-size: 25px;
    font-weight: lighter;
}
.txt:hover{
    color:black;
    background: transparent;
}
.txt1{
    width: 65%;
    height: 80px;
    color: rgb(240, 232, 232);
    border: 2px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 25px;
    margin: 2%;
    background: black;
    font-size: 30px;
}
.txt1:hover{
    color:black;
    background: transparent;
}
.txt1:hover::placeholder{
    color: #aaa;
}
.textbtn{
    width: 50%;
    margin: 5%;
    height: 40px;
    outline: none;
    border-radius: 50px;
    background: #0f0f0f;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.textbtn:hover{
    background:transparent ;
    border: 2px solid rgb(10, 10, 10);
    color: rgb(12, 12, 12);
}
.social-icons{
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.social-icons a{
    line-height: 20px;
    color: black;
    margin: 0 5px;
}
.office{
    text-align: center;
    padding-left: 100px;
}
.office p{
    text-align: center;
}
.last{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;;
}
.last h3{
    font-size: 50px;
    font-style: italic;
}
.contact-us{
    padding: 60px;
    align-content: center;
}