.App {
  text-align: center;
  
}

body{
  background-image:url("C:\Users\WIN10\Desktop\react-programs\src\bg.jpg");
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin:4rem;
  width: 1200px;
  cursor: pointer;
  background-color:transparent;
  
} 

button{
 
  right: 43%;
  top:17%;
  position: absolute;
  height: 7%;
  font-size: 1.5rem;
  font-style: italic;
  border-radius: 10%;
  CURSOR:pointer;
  
}

button:hover{
  background-color: rgb(8, 8, 8);
  cursor: pointer;
  color: white;
}

h2{
  margin: 1rem;
  color:rgb(255, 255, 255);
  font-size: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-style: italic;
}
h2:hover
{
  color: rgb(100, 98, 98);
  cursor: pointer;
}
h3{
  color :white;
}
p{
  color:white;
}
loaders{
  line-height: 40px;
  color:rgb(10, 10, 10);
  font-family: "Serif";
  font-style: italic;
  font-weight:bolder;
  font-size: 100%;
}

h6{
  margin: 1rem;
  color:rgb(255, 255, 255);
  font-family: "montserrat";
  font-size: xx-large;
  padding-top: 60px;
  padding-right:120px;
  padding-bottom: 50px;
  padding-left: 70px;
  font-style: italic;

}
h6:hover
{
  color: rgb(75, 75, 75);
  cursor: pointer;
}


.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin:1rem;
  padding: 10px 90px;
}

.card{
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  background-image:url("C:\Users\WIN10\Desktop\react-programs\src\colo.jpg");
  backdrop-filter: blur(50px);
  border-radius: 10%;
}
.card background-image{
  filter: blur(400px);
}
.card:hover{
  background-color: #2f3030;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
  box-shadow: transparent;
}
img{
  border-radius: 100%;
  margin: 2rem 0rem 1rem 0rem;
}
